<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--log4netConfig-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!--  -->
    <appender name="RollingAppender" type="Core.Log.RollingFileAppender">
      <!--  -->
      <param name="File" value="log\LMS_" />
      <!-- Append to file -->
      <param name="AppendToFile" value="true" />
      <!--  -->
      <param name="RollingStyle" value="Composite" />
      <!--  -->
      <param name="StaticLogFileName" value="false" />
      <!-- Date format -->
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <!--  -->
      <param name="MaxDaySizeRollBackups" value="40" />
      <!--  -->
      <param name="PreserveLogFileNameExtension" value="false" />
      <param name="MaxSizeRollBackups" value="-1" />
      <!--  -->
      <maximumFileSize value="5MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- Log format -->
      <layout type="log4net.Layout.PatternLayout">
        <!--<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,fff} [%t] %-5p - %m%n"/>-->
        <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,fff} %-5p - %m%n" />
      </layout>
    </appender>
    <!-- Console output -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss,fff} %-5p - %m%n" />
      </layout>
    </appender>
    <root>
      <!-- Log output -->
      <level value="Debug" />
      <appender-ref ref="RollingAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="basicHttp" allowCookies="true"
                   maxReceivedMessageSize="20000000"
                   maxBufferSize="20000000"
                   maxBufferPoolSize="20000000">
            <readerQuotas maxDepth="32"
                 maxArrayLength="200000000"
                 maxStringContentLength="200000000"/>
          </binding>
        </basicHttpBinding>
      </bindings>
      <client />
    </system.serviceModel>
  
</configuration>